SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_TOKEN=

SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=TESSAN_HACKATON
SNOWFLAKE_SCHEMA=
SNOWFLAKE_RAW_SCHEMA=RAW
SNOWFLAKE_PROCESSED_SCHEMA=PROCESSED
SNOWFLAKE_PUBLIC_SCHEMA=PUBLIC

