SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_TOKEN=

SNOWFLAKE_ROLE=M2_ISD_EQUIPE_1_ROLE
SNOWFLAKE_WAREHOUSE=M2_ISD_E1_WH
SNOWFLAKE_DATABASE=M2_ISD_EQUIPE_1_DB

SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_SCHEMA_RAW=RAW
SNOWFLAKE_SCHEMA_PROCESSED=PROCESSED
SNOWFLAKE_SCHEMA_APP=APP
SNOWFLAKE_SCHEMA_INGESTED=INGESTED
SNOWFLAKE_SCHEMA_MODEL=MODEL

SNOWSQL_PATH="snowsql"
# Change to full path if snowsql is not in your system PATH, e.g.:
# SNOWSQL_PATH="/Applications/SnowSQL.app/Contents/MacOS/snowsql"
